
.header .contact-geek {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  margin-bottom: 2%;
}

.form {
  padding:0 30%;
  text-align: center;

}

p {
  text-align: center;
}

input {
  width: 100%;
  margin: 20px 0;
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #ffdf91;
  padding: 20px 0;
}

#msg {
  margin-top: 40px;

}

::-webkit-input-placeholder {
  color: $textColor;
  font-size: 20px;
  letter-spacing: 2px;
}

form {
  margin: 20% 10%;
}

button {
    margin-top: 3%;
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffdf91;
    letter-spacing: 5px;
    border-radius: 5px;

}

////.contact h2 {
////  font-family: $fonth2;
////  color: $textColor;
////  text-align: center;
////  margin-top: 10%;
////  margin-bottom: 3%;
////}
////
////

////
////.contact #contact {
////  margin-top: 5%;
////  padding: 0 30%;
//
//
//}
//
//.contact input {
//  border: solid #ffdf91;
//
//
//
//}
//
//.contact  textarea {
//  border: solid #ffdf91;
//
//
//}