@import "variables";
@import "form";
@import "footer";
@import "crud";

body, html {
  height: 100%;
  background-color: $backgroundcolor;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.front {
  width: 200vm;
  height: 100vh;
  background: url("../img/pexels-miguel-á-padriñán-3930094 (1).jpg");
  justify-content: center;
}

.main-nav {
  position: fixed;
  display: flex;
  padding: 2em 4em;
}

.main-nav .ul_second {
  position: fixed;
  display: flex;
  right: 2em;
}

.main-nav .ul_second li {
  margin-left: 1.5em;
  font-size: 1.5em;

}

.main-nav .ul_second #border {
  border: 2px solid #ffdf91;
  padding: 0 15px;
  align-items: center;
}

li {
  list-style: none;
  transition: all 0.4s;
}

li:hover {
  transform: scale(1.1);

}

.ul_first .lien {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffdf91;
  font-family: 'Concert One', cursive;

}


a {
  //text-decoration: none;
  //text-transform: uppercase;
  //color: #ffdf91;
  //font-family: 'Concert One', cursive;

}

a:hover {
  color: $textColor;
}


.home .fancy {
   color: $textColor;
   font-family: $fonth2;
  font-size: 3rem;
  font-weight: bolder;
   letter-spacing: 10px;
   text-align: center;
   margin-top: 5%;

}

.home .welcome {
  font-size: 40px;
  color: $textColor;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;

}

.home .topo {
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 5%;
  color: #470938;
  font-family: 'Concert One', cursive;
  padding: 0 30px;
}

#logo_online {
  width: 50%;
  padding-left: 5%;
}

//.btn {
//  margin-top: 3%;
//  display: inline-block;
//  //padding: 10px 30px;
//  background-color: #ffdf91;
//  //letter-spacing: 5px;
//}

.btn:hover{
  transform: scale(0.97);
  background-color: #f6f4e6;
}


//#logo {
//  border: 2px solid #ffdf91;
//  padding: 0 5px;
//  align-items: center;
//  font-size: 1.7em;
//}

.main-container {
 // width: 100vw;
  //height: 100vw;
}


.container .home {
  //width: 80vw;
  //height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  margin-bottom: 5%;

}

.container .home .image {
  width: 400px;
  height: 600px;

}

.container .content {
  margin-top: 35%;
  margin-left: 50%;
  text-align: center;
  z-index: 10;
}

.ul_second .lien1 {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffdf91;
  font-family: 'Concert One', cursive;
}

.ul_second .lien2 {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffdf91;
  font-family: 'Concert One', cursive;
}

.services .titre {
  color: $textColor;
  font-family: $fonth2;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 3%;
}

.third--image {

  display: inline;
  //vertical-align: center;
  //padding: 10px;
  margin-left: 17%;
  margin-top: 15%;

}

.third--image .logiciel {
  width: 14%;

}

.services .phone {
  width: 30%;

}

.services .maint {
  width: 28%;

}

.services .topo {
  margin-top: 1%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 2%;
  color: #470938;
  font-family: 'Concert One', cursive;
  padding: 0 30px;
}


.geek {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //margin-top: 1%;
  width: 40%;
}

.centres .titre {
  color: $textColor;
  font-family: $fonth2;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 1.5%;

}

#maCarte {
  display: block;
  height: 500px;
  width: 700px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;

}

.centres .topo {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 5%;
  text-align: center;
  color: #470938;
  font-family: 'Concert One', cursive;
  padding: 0 30px;
}

.header .titre {
  color: $textColor;
  font-family: $fonth2;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 5%;
}

.header .topo {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 5%;
  text-align: center;
  color: #470938;
  font-family: 'Concert One', cursive;
  padding: 0 30px;

}









