@import "variables";
@import "form";
@import "footer";

body, html {
  height: 100%;
  background-color: $backgroundcolor;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}





.front {
  width: 200vm;
  height: 100vh;
  background: url("../img/pexels-miguel-á-padriñán-3930094 (1).jpg");
  justify-content: center;
}




li {
  list-style: none;
  transition: all 0.4s;
}

li:hover {
  transform: scale(1.1);

}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffdf91;
  font-family: 'Concert One', cursive;

}

a:hover {
  color: $textColor;
}


h2 {
   color: $textColor;
   font-family: $fonth2;
   letter-spacing: 10px;
   text-align: center;
   margin-top: 5%;

}

h3 {
  font-size: 40px;
  color: $textColor;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;

}

p {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 5%;
  color: #470938;
  font-family: 'Concert One', cursive;
  padding: 0 30px;
}

.btn {
  margin-top: 3%;
  display: inline-block;
  padding: 10px 30px;
  background-color: #ffdf91;
  letter-spacing: 5px;
}

.btn:hover{
  transform: scale(0.97);
  background-color: #f6f4e6;
}

img {
  //width: 100%;
}



#logo {
  border: 2px solid #ffdf91;
  padding: 0 5px;
  align-items: center;
  font-size: 1.7em;
}

.main-container {
 // width: 100vw;
  //height: 100vw;
}



.main-nav {
  position: fixed;
  display: flex;
  padding: 2em 4em;

}

.home {}

.main-nav .ul_second {
  position: fixed;
  display: flex;
  right: 2em;
}

.main-nav .ul_second li {
  margin-left: 1.5em;
  font-size: 1.5em;

}

.main-nav .ul_second #border {
  border: 2px solid #ffdf91;
  padding: 0 15px;
  align-items: center;
}



.container {

}

.container .home {
  //width: 80vw;
  //height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  margin-bottom: 5%;

}

.container .home .image {
  width: 400px;
  height: 600px;

}

.content {
  margin-top: 50px;
  margin-right: 100px;
  text-align: center;
  z-index: 10;
}

.third--image {

  display: inline;
  //vertical-align: center;
  //padding: 10px;
  margin-left: 17%;
  margin-top: 15%;

}

.third--image .logiciel {
  width: 14%;

}

.services .phone {
  width: 30%;

}

.services .maint {
  width: 28%;

}

//.centres .container  {
//
//  justify-content: center;
//  //align-items: center;
//
//  //width: 100%;
//  //margin-left: 29%;
//  //margin-bottom: 5%;
//  //margin-top: 15%;
//
//
//}


.geek {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
}

.text-centre {
  text-align: center;
  margin-top: 10%;
  padding: 2%;
  font-family: $fonth2;
  color: $textColor;

}

#maCarte {
  display: block;
  height: 500px;
  width: 700px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;


}







