@charset "UTF-8";
.header .contact-geek {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  margin-bottom: 2%;
}

.form {
  padding: 0 30%;
  text-align: center;
}

p {
  text-align: center;
}

input {
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #ffdf91;
}

#msg {
  margin-top: 40px;
}

::-webkit-input-placeholder {
  color: #550a46;
  font-size: 20px;
  letter-spacing: 2px;
}

button {
  padding: 20px 32px;
  font-size: 16px;
  background: #ffdf91;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.inner-footer {
  margin: 0;
  padding: 0;
  background-color: #ffdf91;
}

.social-links {
  display: flex;
}

.social-links ul {
  display: flex;
  padding: 10px;
  width: 300px;
  height: 30px;
  margin: auto;
  margin-bottom: 3px;
}

.social-items {
  list-style: none;
}

.social-items a {
  padding: 10px 20px;
  font-size: 30px;
  color: #550a46;
}

.social-items a:hover {
  color: #b49c73;
}

.outer-footer {
  padding: 20px;
  text-align: center;
  color: #b49c73;
  font-size: 18px;
  background-color: #ffdf91;
}

body, html {
  height: 100%;
  background-color: #b49c73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.front {
  width: 200vm;
  height: 100vh;
  background: url("../img/pexels-miguel-á-padriñán-3930094 (1).jpg");
  justify-content: center;
}

li {
  list-style: none;
  transition: all 0.4s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffdf91;
  font-family: "Concert One", cursive;
}

a:hover {
  color: #550a46;
}

h2 {
  color: #550a46;
  font-family: "Space Mono", monospace;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 5%;
}

h3 {
  font-size: 40px;
  color: #550a46;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
}

p {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 5%;
  color: #470938;
  font-family: "Concert One", cursive;
  padding: 0 30px;
}

.btn {
  margin-top: 3%;
  display: inline-block;
  padding: 10px 30px;
  background-color: #ffdf91;
  letter-spacing: 5px;
}

.btn:hover {
  transform: scale(0.97);
  background-color: #f6f4e6;
}

img {
  width: 100%;
}

#logo {
  border: 2px solid #ffdf91;
  padding: 0 5px;
  align-items: center;
  font-size: 1.7em;
}

.main-nav {
  position: fixed;
  display: flex;
  padding: 2em 4em;
}

.main-nav .ul_second {
  position: fixed;
  display: flex;
  right: 2em;
}

.main-nav .ul_second li {
  margin-left: 1.5em;
  font-size: 1.5em;
}

.main-nav .ul_second #border {
  border: 2px solid #ffdf91;
  padding: 0 15px;
  align-items: center;
}

.container .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  margin-bottom: 5%;
}

.container .home .image {
  width: 400px;
  height: 600px;
}

.content {
  margin-top: 50px;
  margin-right: 100px;
  text-align: center;
  z-index: 10;
}

.third--image {
  display: inline;
  margin-left: 17%;
  margin-top: 15%;
}

.third--image .logiciel {
  width: 14%;
}

.services .phone {
  width: 30%;
}

.services .maint {
  width: 28%;
}

.happy {
  width: 30%;
}

.geek {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
}

.text-centre {
  text-align: center;
  margin-top: 10%;
  padding: 2%;
  font-family: "Space Mono", monospace;
  color: #550a46;
}

#maCarte {
  display: block;
  height: 500px;
  width: 700px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
